@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Styles for the editor */
.ace_search,
.ace_searchbtn_close,
.prev,
.next,
.ace_searchbtn {
  background-color: #232323 !important;
  border: 1px solid #404040 !important;
}

.ace_search_counter,
.ace_button {
  color: #f1f1f1 !important;
}

.ace_button {
  background-color: #232323 !important;
}

.ace_search_field {
  background-color: #404040 !important;
  color: #f1f1f1 !important;
  border: 1px solid #404040 !important;
}

div.ace_editor .ace_marker-layer .ace_selectionaaa {
  background-color: red !important;
}


/* Estilização básica da barra de rolagem */
::-webkit-scrollbar {
  width: 15px;
  /* Largura da barra de rolagem */
}

/* Estilização do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #222222;
  /* Cor do polegar da barra de rolagem */
  border-radius: 5px;
  /* Borda arredondada do polegar da barra de rolagem */
}

/* Estilização da trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #414040;
  /* Cor da trilha da barra de rolagem */
}